<!-- views/server/partials/header.ejs -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= client_name %></a>
      <ul class="nav navbar-nav">
        <li><a href="/server">Home</a></li>
        <li><a href="/server/about">About</a></li>
      </ul>
    </di>
  </div>
</nav>
