<!-- views/server/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= server_name %></a>
      <ul class="nav navbar-nav">
        <li><a href="/server">Home</a></li>
        <li><a href="/server/about">About</a></li>
      </ul>
    </di>
  </div>
</nav>
